/*.container {
  display: flex;
  flex-direction: column;
  align-items: center
  justify-content: center;
  height:100vh;
}
*/
.container a {
  color:grey;
}

.profile-image {
  display: none;
/*  min-height:25vh;
  min-width: 25vh;
  max-height: 40vh;
  border-radius: 50%;*/
}

/*ul.social-links {
  padding-left: 0;
}

.social-links li{
  display: inline;
  margin-left: 0;
}

/*.homework ol {
  padding-left: 0;
}*/
